input {
    margin-left: 15px;
    color: rgb(127, 161, 255);
    background: rgb(10, 10, 10);
    font-size: 1.5rem;
}

h1 {
    text-align: center;
}

div {
    text-align: center;
}

p {
    font-size: 2rem;
    color: rgb(127, 161, 255);
    text-align: center;
}
